@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: url(../images/miskas2.jpg);
}

.top {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.top li {
    list-style-type: none;
}
.top ul{
    margin: 0;
    padding: 0;
}

.top a {
    float: right;
    color: #ffffff;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
.top a:hover {
    color: #888888;
}

.Info .Paragraph{
    color: white;
    font-size: 30px;
    position: absolute;
    width: 35%;
    left: 9.8%;
    top: 30%;
}
.Savybes .Paragraph{
    color: white;
    font-size: 30px;
    position: absolute;
    width: 35%;
    left: 40.8%;
    top: 150%;
}
.Lavinimas .Paragraph{
    color: white;
    font-size: 30px;
    position: absolute;
    width: 35%;
    left: 20.8%;
    top: 255%;
}
.Patirtis .Paragraph{
    color: white;
    font-size: 30px;
    position: absolute;
    width: 35%;
    left: 35.8%;
    top: 360%;
}

.Kontaktai  li {
    list-style-type: none;
}
.Kontaktai  ul{
    margin: 0;
    padding: 0;
}
.Kontaktai  p{
    padding-top: 1px;
    padding-bottom: 15px;
}
.Kontaktai{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: absolute;
    top: 470%;
    width: 100%;
    display: block;
    text-align: center;
}
.Kontaktai a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

@media (max-width: 915px){
    .Info .Paragraph, .Savybes .Paragraph, .Lavinimas .Paragraph, .Patirtis .Paragraph{
        font-size: 20px;
        width: 50%;
        text-align: center;
        left: 25%;
    }
    .Info .Paragraph { top: 40%; }
    .Savybes .Paragraph { top: 140%; }
    .Lavinimas .Paragraph { top: 240%; }
    .Patirtis .Paragraph{ top: 340%; }
    .Kontaktai { top: 550%; }

    .Kontaktai a, .top a{
        font-size: 14px;
    }
}

@media (max-width: 700px){
    .top a{display: none;}
    .top #logo {
        display: inline;
        float: none;
        text-align: center;
        font-size: 30px;
     }
    #kontaktai {display: inline;}
    .Info .Paragraph { top: 40%; }
    .Savybes .Paragraph { top: 140%; }
    .Lavinimas .Paragraph { top: 240%; }
    .Patirtis .Paragraph{ top: 340%; }
}
